<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container center">
        <div class="card" style="max-width: 400px; margin: 60px auto;">
            <h2 class="center">User Login</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('auth.login') }}" method="post">
                <label for="username">Registered Email:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Login" class="btn">
            </form>
            <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Create Account</a></p>
        </div>
    </div>
</body>
</html>
