<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Parking Lots</title>
  </head>
  <body>
    <h1>Parking Lots</h1>
    {% for location in locations %}
        <h2>{{ location.name }} ({{ location.address }}, {{ location.pin }})</h2>
        <ul>
        {% for lot in location.parking_lots %}
            <li>Lot ID: {{ lot.id }}, Total Spots: {{ lot.total_spots }}, Price: {{ lot.price }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
  </body>
</html>
